<div class="fixed top-5 left-1/2 -translate-x-1/2 z-100 flex flex-col gap-3 w-full max-w-md px-4 pointer-events-none">
	@for (toast of toastService.toasts(); track toast.id) {
	<div class="pointer-events-auto flex items-center gap-3 pl-1 pr-4 py-3 rounded-xl shadow-[0_20px_50px_rgba(0,0,0,0.15)] border bg-white/90 dark:bg-[#0f1115]/90 backdrop-blur-md transition-all duration-500 animate-toast-in overflow-hidden relative"
		[class]="getClasses(toast.type)" [ngClass]="{
        'border-l-4 border-l-emerald-500': toast.type === 'success',
        'border-l-4 border-l-red-500': toast.type === 'error',
        'border-l-4 border-l-blue-500': toast.type === 'info'
      }">

		<div class="shrink-0 ml-1" [ngClass]="{
          'text-emerald-500': toast.type === 'success',
          'text-red-500': toast.type === 'error',
          'text-blue-500': toast.type === 'info'
        }">
			<span class="material-icons text-xl leading-none">
				{{ toast.type === 'success' ? 'verified' : toast.type === 'error' ? 'report' : 'info_outline' }}
			</span>
		</div>

		<div class="flex-1">
			<p class="text-[12px] font-black tracking-tight leading-tight" [ngClass]="{
			'text-emerald-500': toast.type === 'success',
			'text-red-500': toast.type === 'error',
			'text-blue-500': toast.type === 'info'
			}">
				{{ toast.message }}
			</p>
		</div>

		<button (click)="toastService.remove(toast.id)"
			class="shrink-0 h-7 w-7 flex items-center justify-center hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg transition-all text-gray-400 hover:text-gray-900 dark:hover:text-white">
			<span class="material-icons text-sm">close</span>
		</button>

		<div class="absolute bottom-0 left-0 h-px bg-current opacity-10 w-full"></div>
	</div>
	}
</div>